.filter{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
}

.filter-input, .button{
  height: cover;
  font-size: 1.5rem;
  width: 50%;
  margin: 2% auto;
}

.grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  height: 100vh;
}

.grid-item{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid
}

.img{
  max-width: 50%;
}

.label{
  font-size: 1.5rem;
}