.grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  height: 1vh;
}

.grid-item{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.img{
  max-width: 50%;
}